@import url("https://fonts.googleapis.com/css2?family=Forum&family=Nanum+Gothic&family=Xanh+Mono&display=swap");

* {
  margin: 0;
  padding: 2px;
  background-color: #ce6c47;
  font-family: "Nanum Gothic", sans-serif;
  color: #052f5f;
  box-sizing: border-box;
}

#container {
  display: grid;
  grid-template-areas:
    "head"
    "sub-head"
    "sub-container"
    "foot";
  grid-template-rows: 11vh 9vh 75vh 5vh;
  grid-template-columns: 98vw;
}

#head {
  grid-area: head;
  display: flex;
  justify-content: center;
  align-content: center;
}

h1 {
  align-self: center;
}

#sub-head {
  grid-area: sub-head;
  display: flex;
  justify-content: center;
}

#sub-container {
  grid-area: sub-container;
  display: grid;
  grid-template-areas: "cv projects contact-me";
  grid-template-rows: 75vh;
  grid-template-columns: 32vw 57vw 9vw;
}

#projects {
  grid-area: projects;
  overflow-y: scroll;
}

#cv {
  grid-area: cv;
}

#contact-me {
  grid-area: contact-me;
}

#foot {
  grid-area: foot;
  display: flex;
  justify-content: center;
}

.project-image {
  width: 30vw;
  height: 30vh;
}

iframe {
  width: 30vw;
  height: 70vh;
}

a {
  text-decoration: none;
}

a:hover {
  color: #68a691;
}

#email {
  background-image: url("images/gmail.png");
  height: 50px;
  width: 50px;
  display: inline-block;
}

#email:hover {
  background-image: url("images/gmail-hover.png");
  height: 50px;
  width: 50px;
  display: inline-block;
}

#linkedin {
  background-image: url("images/linkedin.png");
  height: 50px;
  width: 50px;
  display: inline-block;
}

#linkedin:hover {
  background-image: url("images/linkedin-hover.png");
  height: 50px;
  width: 50px;
  display: inline-block;
}

#twitter {
  background-image: url("images/twitter.png");
  height: 50px;
  width: 50px;
  display: inline-block;
}

#twitter:hover {
  background-image: url("images/twitter-hover.png");
  height: 50px;
  width: 50px;
  display: inline-block;
}
