@import url("https://fonts.googleapis.com/css2?family=Forum&family=Nanum+Gothic&family=Xanh+Mono&display=swap");

* {
  margin: 0;
  padding: 2px;
  background-color: #daddd8;
  font-family: "Nanum Gothic", sans-serif;
  color: #1c1c1c;
  box-sizing: border-box;
}

#container {
  display: grid;
  grid-template-areas:
    "head"
    "sub-head"
    "sub-container"
    "foot";
  grid-template-rows: 10vh 10vh 75vh 5vh;
  grid-template-columns: 100vw;
}

#head {
  grid-area: head;
  display: flex;
  justify-content: center;
}

#sub-head {
  grid-area: sub-head;
  display: flex;
  justify-content: center;
}

#sub-container {
  grid-area: sub-container;
  display: grid;
  grid-template-areas: "cv projects contact-me";
  grid-template-rows: 75vh;
  grid-template-columns: 33vw 57vw 10vw;
}

#projects {
  grid-area: projects;
  overflow-y: scroll;
}

#cv {
  grid-area: cv;
}

#contact-me {
  grid-area: contact-me;
}

#foot {
  grid-area: foot;
  display: flex;
  justify-content: center;
}

.project-image {
  width: 30vw;
  height: 30vh;
}

iframe {
  width: 30vw;
  height: 70vh;
}

a {
  text-decoration: none;
}

a:hover {
  color: #fafafa;
}

#email {
  background-image: url("images/icons8-gmail-logo-50.png");
  height: 50px;
  width: 50px;
  display: inline-block;
}

#email:hover {
  background-image: url("images/hover-gmail-logo-50.png");
  height: 50px;
  width: 50px;
  display: inline-block;
}

#linkedin {
  background-image: url("images/icons8-linkedin-50.png");
  height: 50px;
  width: 50px;
  display: inline-block;
}

#linkedin:hover {
  background-image: url("images/hover-linkedin-50.png");
  height: 50px;
  width: 50px;
  display: inline-block;
}

#twitter {
  background-image: url("images/icons8-twitter-50.png");
  height: 50px;
  width: 50px;
  display: inline-block;
}

#twitter:hover {
  background-image: url("images/hover-twitter-50.png");
  height: 50px;
  width: 50px;
  display: inline-block;
}
